
HW2_data/HW2_dev.gold_standards

HW2_data/eval.py

HW2_data/HW2_dev.df

HW2_data/HW2_dev.dict

HW2_data/HW2_dev.docVectors

HW2_data/HW2_dev.rawText

HW2_data/HW2_test.df

HW2_data/HW2_test.dict

*.docVectors

HW2_data/HW2_test.rawText

HW2_data/README

HW2_dev.gold_standards
